#titleSection h1{
    position: absolute;
    left: 700px; 
    top: 10px;
    width: 500px;
    text-align: center;
    font-size: 100px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    background-color: blue;
    padding: 25px;
    margin: 0px;
}
#titleSection h2{
    position: absolute;
    top: 350px;
    text-align: center;
    left: 875px;
    margin: 0px;
    width: 300px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 10px;
    font-size: 50px;

}

html, body {
    padding: 0px;
    margin: 0px;
}